body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(90deg, #ffdddd 14%, #ffffff 48%, rgba(255, 225, 208, 1) 100%, rgb(189, 138, 111) 90%) !important;
}

/* navbar*/
.navbar {
    background-color: #EB8D96;
    display: flex;
    justify-content: center !important;
    width: 100%;
    position: fixed;
}

.logo {
    align-items: center !important;
}

.logomarca {
    align-items: center !important;
}


.links {
    font-family: "Atma", serif;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    color: #fffaf2;
    font-size: 24px;
}

.links:hover {
    color: #682f10;
    transition: all 0.2s;
}

.link {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.img-banner {
    width: 100%;

}

/*Slider*/

.slider-container {
    position: absolute;
    position: absolute;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 1s ease;
    top: 124px;
    position: relative;
    z-index: -1;
    z-index: -1;
}


.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: auto;
}

/*Sobre nós*/
.sobretitle {
    font-family: "Atma", serif;
    color: #221107;
    text-align: center;
    margin-top: 160px;
}

.img-doceria {
    width: 30%;
    height: 30%;
    border-radius: 30%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 20px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.sobre {
    margin-top: 40px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #5a2100;
}

.divsobre {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-self: center;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
    margin: 50px;
}

.localtitle {
    font-family: "Atma", serif;
    color: #221107;
    text-align: center;
    top: 570px;
}

.local {
    font-family: "Atma", serif;
    color: #221107;
    text-align: center;
}

.localizacao {
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    top: 680px;
}

.endereco {
    font-size: 20px;
    color: #221107 !important;
    font-family: "Atma", serif;
}

.mapa {
    border: #bd8a6f 2px solid !important;
    border-radius: 20px;

}

.doces {
    border-radius: 58%;
    width: 130px;
}

.doces:hover {
    transform: scale(1.2);
    transition: all 0.8s;
}

.divcardapio {
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    top: 680px;
}

.cardapiotitle {
    margin-top: 40px;
    font-family: "Atma", serif;
    color: #221107;
    text-align: center;
}

.d-flex {
    flex-direction: row;
}

.d-flex li {
    list-style: none;
    color: #704932;
}