body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(90deg, #ffdddd 14%, #ffffff 48%, rgba(255, 225, 208, 1) 100%, rgb(189, 138, 111) 90%) !important;
}

/* navbar*/
.navbar {
    background-color: #EB8D96;
    display: flex;
    justify-content: center !important;
    width: 100%;
    position: fixed;
}

.logo {
    align-items: center !important;
}

.logomarca {
    align-items: center !important;
}


.links {
    font-family: "Atma", serif;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    color: #fffaf2;
    font-size: 24px;
}

.links:hover {
    color: #682f10;
    transition: all 0.2s;
}

.link {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.img-banner {
    width: 100%;

}

/*Slider*/

.slider-container {
    position: absolute;
    position: absolute;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 1s ease;
    top: 124px;
    position: relative;
    z-index: -1;
    z-index: -1;
}


.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: auto;
}

/*Sobre nós*/
.sobretitle {
    font-family: "Atma", serif;
    color: #221107;
    text-align: center;
    margin-top: 160px;
}

.img-doceria {
    width: 30%;
    height: 30%;
    border-radius: 30%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 20px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.sobre {
    margin-top: 60px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #5a2100;
}

.divsobre {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-self: center;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
    margin: 50px;
}

/* fim sobre */

/* Endereço */
.localtitle {
    font-family: "Atma", serif;
    color: #221107;
    text-align: center;
    top: 570px;
}

.local {
    font-family: "Atma", serif;
    color: #221107;
    text-align: center;
}

.localizacao {
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    top: 680px;
}

.endereco {
    font-size: 20px;
    color: #221107 !important;
    font-family: "Atma", serif;
}

.mapa {
    border: #bd8a6f 2px solid !important;
    border-radius: 20px;
}

/* fim endereço */
/* Cardápio */
.imagensmodal {
    padding: 10px;
}

.doces {
    opacity: 50%;
    border-radius: 100%;
    margin-top: 108px;
    width: 180px;
    height: 180px;
    margin: 20px;
    box-shadow: rgba(168, 133, 112, 0.952) 0px 3px 40px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.doces:hover {
    opacity: 100%;
    transform: scale(1.1);
    transition: all 0.8s;
}



.divcardapio {
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    top: 680px;
    flex-wrap: wrap;
}

.cardapiotitle {
    margin-top: 40px;
    font-family: "Atma", serif;
    color: #221107;
    text-align: center;
}

.cardapiosubtitle {
    margin-top: 1px;
    font-family: "Atma", serif;
    color: #221107;
    text-align: center;
    font-size: 18px;
}

.d-flex {
    display: flex;
    flex-direction: row-reverse;
    font-family: "Atma", serif;
    color: #582305;
    border: #582305 2px solid;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    background-color: #fffaf27e;
}

.d-flex:hover {
    transform: scale(1.1);
    transition: all 0.8s;
}

ul li {
    list-style: none;
    color: #704932;
    font-size: 20px;
    padding: 4px;
    font-family: "Atma", sans-serif;
}

.cardapiotitle {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo do Modal cardápio */
.modalcardapio {
    transition: all 0.8s;
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modalcardapio-content {
    font-family: "Atma", serif;
    color: #582305;
    border: #582305 2px solid;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    background-color: #fffaf2;
    text-align: left;
    position: relative;
    width: 60%;
}

.modalcardapio-content h2 {
    margin-top: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

/* fim cardápio */
/* Contato */
.contato {
    margin-top: 120px;
    font-family: "Atma", serif;
    color: #221107;
    text-align: center;
}

/* fim contato */

/* video */

iframe {
    border-radius: 22px;
    -webkit-box-shadow: -2px 0px 17px 14px rgba(117, 78, 0, 0.18);
    -moz-box-shadow: -2px 0px 17px 14px rgba(117, 78, 0, 0.18);
    box-shadow: -2px 0px 17px 14px rgba(117, 78, 0, 0.18);
}

.div_video {
    display: flex;
    flex-direction: column;
}

.div_iframe {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    background-position: 0px 30%;
    background-size: cover;
    background-color: #ffdddd;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center !important;
    width: 100%;
    margin-top: 20px;
}

